@font-face 
   font-family: 'Haven'
   src: url("../assets/GermaniaOne-Regular.ttf") format("truetype")

h1
   font-family: Haven, Arial
   display: flex
   align-items: center
   justify-content: center

body
   height: 100%

.frosthaven-theme
   background-color: #6096b33f

.gloomhaven-theme
   background-color: #6b491c4d