@use '@angular/material' as mat;
@include mat.core();

$md-fh: (
    50 : #ebf1f5,
    100 : #cddde6,
    200 : #acc7d5,
    300 : #8bb0c4,
    400 : #729fb8,
    500 : #598eab,
    600 : #5186a4,
    700 : #487b9a,
    800 : #3e7191,
    900 : #2e5f80,
    A100 : #c8e8ff,
    A200 : #95d2ff,
    A400 : #62bdff,
    A700 : #48b2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-gh: (
    50 : #f4ece8,
    100 : #e4d0c6,
    200 : #d2b1a0,
    300 : #bf917a,
    400 : #b27a5e,
    500 : #a46241,
    600 : #9c5a3b,
    700 : #925032,
    800 : #89462a,
    900 : #78341c,
    A100 : #ffc5b3,
    A200 : #ff9e80,
    A400 : #ff774d,
    A700 : #ff6434,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//DEFINE THEME AND PALETTES
$battlegoal-picker-primary: mat.define-palette($md-fh, 500);
$battlegoal-picker-accent: mat.define-palette($md-gh, 200);
$battlegoal-picker-warn: mat.define-palette(mat.$red-palette);

$battlegoal-picker-theme: mat.define-light-theme((
  color: (
    primary: $battlegoal-picker-primary,
    accent: $battlegoal-picker-accent,
    warn: $battlegoal-picker-warn,
  )
));

$battlegoal-picker-gh-primary: mat.define-palette($md-gh, 500);
$battlegoal-picker-gh-accent: mat.define-palette($md-fh, 200);
$battlegoal-picker-gh-warn: mat.define-palette(mat.$red-palette);

$battlegoal-picker-gh-theme: mat.define-light-theme((
  color: (
    primary: $battlegoal-picker-gh-primary,
    accent: $battlegoal-picker-gh-accent,
    warn: $battlegoal-picker-gh-warn,
  )
));

// $battlegoal-picker-primary-dark: mat.define-palette($md-fh, 800);
// $battlegoal-picker-accent-dark: mat.define-palette($md-gh, 700);
// $battlegoal-picker-warn-dark: mat.define-palette(mat.$red-palette);

// $battlegoal-picker-dark-theme: mat.define-dark-theme((
//   color: (
//     primary: $battlegoal-picker-primary-dark,
//     accent: $battlegoal-picker-accent-dark,
//     warn: $battlegoal-picker-warn-dark,
//   )
// ));


// $battlegoal-picker-gh-primary-dark: mat.define-palette($md-gh, 800);
// $battlegoal-picker-gh-accent-dark: mat.define-palette($md-fh, 700);
// $battlegoal-picker-gh-warn-dark: mat.define-palette(mat.$red-palette);

// $battlegoal-picker-gh-dark-theme: mat.define-dark-theme((
//   color: (
//     primary: $battlegoal-picker-gh-primary-dark,
//     accent: $battlegoal-picker-gh-accent-dark,
//     warn: $battlegoal-picker-gh-warn-dark,
//   )
// ));

@include mat.all-component-themes($battlegoal-picker-theme);

.frosthaven-theme{
  @include mat.all-component-colors($battlegoal-picker-theme);
}

.gloomhaven-theme{
  @include mat.all-component-colors($battlegoal-picker-gh-theme);
}



// .gh-dark-theme{
//   @include mat.all-component-themes($battlegoal-picker-gh-dark-theme);
// }

// .fh-dark-theme{
//   @include mat.all-component-themes($battlegoal-picker-dark-theme);
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
