
<div class="container">

    <mat-card>
        <mat-card-content>
            <mat-tab-group  [color]="'primary'">
                <mat-tab>
                    <ng-template mat-tab-label class="foo2">
                        Battle Goals
                    </ng-template>
                    <div id="battle-goals">
                        <div id="draw-container">
                            <div class="options-row flex">
                                <mat-form-field appearance="fill">
                                    <mat-label>Scenario Number</mat-label>
                                    <input matInput id="scenarioNumber" [(ngModel)]="userSettings.scenarioNumber" placeholder="Scenario Number" (focusout)="(this.cacheData('scenarioNumber', (this.userSettings.scenarioNumber)))">
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>Attempt Number</mat-label>
                                    <input matInput id="attemptNumber" [(ngModel)]="userSettings.attemptNumber" placeholder="Attempt Number" (focusout)="(this.cacheData('attemptNumber', (this.userSettings.attemptNumber)))">
                                </mat-form-field>
                            </div>

                            <div class="battle-goal-image" id="battle-goal-back">
                                <img src = "../assets/gh-battle-goals-back.png">    
                            </div>

                            <div class="button-row" id="draw-button">
                                <button mat-raised-button color="primary" (click)="chooseBattleGoals()">Draw!</button>  
                            </div>
                        </div>

                    </div>
                </mat-tab>
                
                    <mat-tab label="Settings">
                        <div id="options">
                            <div class="options-row flex">
                                <mat-form-field appearance="fill">
                                    <mat-label for="number-draws">Number of Draws: </mat-label>
                                    <input matInput type="number" [(ngModel)]="userSettings.numberToDraw" max="6" placeholder="number of draws" (focusout)="(this.cacheData('numberToDraw', (this.userSettings.numberToDraw)))">
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label for="player-number">Player Number: </mat-label>
                                    <input matInput type="number" [(ngModel)]="userSettings.playerNumber" type="number" max="6" placeholder="player number" (focusout)="(this.cacheData('playerNumber', (this.userSettings.playerNumber)))">
                                </mat-form-field>
                            </div>
                            <div class="options-row flex">
                                <mat-form-field appearance="fill">
                                    <mat-label>Party Name</mat-label>
                                    <input matInput id="party-name" [(ngModel)]="userSettings.partyName" placeholder="Party Name" (focusout)="(this.cacheData('partyName', (this.userSettings.partyName)))">
                                </mat-form-field>
                            </div>
                            <div class="options-row flex">
                                <mat-button-toggle-group [(ngModel)]="userSettings.expansion" name="expansion" aria-label="Expansion" (change)="this.swapTheme($event.value)" (change)="(this.cacheData('expansion', (this.userSettings.expansion)))">
                                    <mat-button-toggle value="Gloomhaven">Gloomhaven</mat-button-toggle>
                                    <mat-button-toggle value="Frosthaven">Frosthaven</mat-button-toggle>
                                    <mat-button-toggle value="Jaws Of The Lion">Jaws of the Lion</mat-button-toggle>
                                    <!-- <mat-button-toggle value="crimson scales">Crimson Scales</mat-button-toggle> -->
                                </mat-button-toggle-group>
                            </div>
                            <!-- <div class="options-row flex">
                                <mat-button-toggle-group [(ngModel)]="userSettings.theme" name="theme" aria-label="Expansion" (change)="this.swapTheme($event.value)">
                                    <mat-button-toggle value="gh-theme">Gloomhaven</mat-button-toggle>
                                    <mat-button-toggle value="fh-theme">Frosthaven</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div> -->
                        </div>
                    </mat-tab>

            </mat-tab-group>
        </mat-card-content>
    </mat-card>    
</div>
