
// MAIN

.container
    display: flex
    align-items: center
    justify-content: center
    // background-color: #6096b3

.mat-tab-label-active
    border-width: 9px
    border-style: solid
    border-color: orange
    display: none

.mdc-tab--active
    background-color: #6096b341 !important

.mat-button-toggle-checked
    background-color: #6096b341 !important
    
mat-card
    max-width: 650px
    background-color: #f1f6fa !important
    opacity: 1

// SETTINGS

.button-row
    display: flex
    align-items: center
    justify-content: center  
    button
        font-family: Haven, Arial
        font-size: 40px
        z-index: 10

#options, #battle-goals
    padding-top: 25px
    
// DRAW

#draw-container
    top: 300px
    align-items: center
    justify-content: center
    width: 100%
    button
        height: 60px
    .battle-goal-image
        align-items: center
        justify-content: center
        display: flex
        margin-bottom: 20px    
        img
            width:100%
            max-width: 250px
            border-radius: 15px

.single-battle-goal
    img
        width: 100%
        margin: 2px 2px 2px 2px
        max-width: 250px
        border-radius: 15px

// SELECTION

.mat-mdc-dialog-content
    max-height: 80vh 

#selected-cards-dialog
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    min-width: 150px

.options-row
    mat-form-field
        margin: 0 5px
        width: 100%
    mat-button-toggle-group
        flex: auto
        
    mat-button-toggle
        width: 100%
        margin-right: auto



// .mat-mdc-focus-indicator
//     margin-left: 100px



// .mat-mdc-ink-bar
//     background-color: green !important

// .mat-mdc-tab-label-active
//     display: none
// button
//     display: flexbox
//     align-items: center
//     justify-content: center

// label
//     display: flexbox
//     align-items: center
//     justify-content: center
    

// li
//     display: flexbox
//     align-items: center


